@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

:root {
  --bright-yellow: #fbd53f;
  --dark-blue: #333652;
  --blue-gray: #90adc6;
  --white: #f0f0f0;
  --white-background: #e4e4e4;
  --white-background-variation: #d4d4d4;
  --transparent: rgba(0, 0, 0, 0);
}

body {
  font-family: "Kanit", sans-serif;
  background-color: var(--white-background);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 6rem 2rem;
  background-color: var(--dark-blue);
  color: var(--bright-yellow);
}

header .logo-title {
  display: flex;
  align-items: center;
}

header .logo-title h1 {
  font-size: 4rem;
}

header .logo-title img {
  width: 10rem;
  margin: 1rem;
}

div.nav {
  display: flex;
  align-items: center;
}

header .nav .material-symbols-rounded {
  background-color: var(--bright-yellow);
  color: var(--dark-blue);
  font-size: 1.5rem;
  transition: .25s;
  padding: .5rem;
  border-radius: .5rem;
}

header .nav .material-symbols-rounded:hover {
  scale: 1.15;
}

header .nav .links {
  display: none;
}

header .nav .links .c-links{
  display: flex;
  list-style: none;
  padding: .5rem;
  font-size: 1.3rem;
  transition: .5s;
}

header .nav .links .c-links:hover{
  font-size: 1.5rem;
  border-bottom: .25rem solid var(--bright-yellow);
  border-left: .25rem solid var(--bright-yellow);
}

header .nav .links .link {
  text-decoration: none;
  color: var(--bright-yellow);
}

header .nav .links .submenu {
  display: none;
}

header .nav .links .submenu li a{
  text-decoration: none;
  color: #333652;
}

header .nav .links .submenu li{
  list-style: none;
  transition: .25s;
  padding: .5rem;
  margin-left: -2rem;
  background-color: var(--blue-gray);
}

header .nav .links .submenu li:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

header .nav .links .submenu li:last-child {
  border-radius: 0 0 0.5rem 0.5rem ;
}

header .nav .links .submenu li:hover {
  scale: 1.1;
  background-color: var(--bright-yellow);
}

header .nav .links .c-links:hover .submenu {
  display: inline-block;
}

main {
    width:75%;
    margin: auto;
    margin-top: -4rem;
}

hr.rounded {
  border-top: .5rem solid var(--dark-blue);
  margin: 0;
}

main section.content {
  background-color: var(--white-background-variation);
  padding: 1rem 2.5rem 1rem 2.5rem;
}

main section.content h2{
  text-align: center;
  font-size: 1.75rem;
}

main section.content p{
  font-size: 1.15rem;
}

main section.content.about-us {
  text-align: center;
  border-radius: 1rem 1rem 0rem 0rem;
}

main section.content.about-us .image-cep{
 border-radius: .5rem;
 width: 95%;
}

main div.students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main section.content div.students .student {
  margin: 1.15rem;
  padding: 1rem .75rem 1rem .75rem;
  text-align: center;
  border-radius: .5rem;
  background-color: var(--bright-yellow);
  transition: .25s;
}

main section.content div.students .student p{
  padding: .5rem;
  text-align: start;
}

main section.content div.students .student:hover {
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main section.content div.students .student:hover::after {
  content: ' ';
  background-image: linear-gradient(45deg, var(--transparent), var(--white-background));
  border-radius: .5rem;
  mix-blend-mode: screen;
  opacity: .7;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

main section.content div.students img {
  border-radius: .5rem;
  width: 95%
}

main section.content div.students .student.oliveira:hover {
 background-color: rgb(108, 203, 225);
}
main section.content div.students .student.antonio:hover {
 background-color: rgb(82, 0, 133);
 color: var(--white);
}
main section.content div.students .student.giorgio:hover {
 background-color: rgb(255, 92, 92);
}
main section.content div.students .student.arthur:hover {
 background-color: rgb(142, 209, 94);
}
main section.content div.students .student.carlos:hover {
  color: var(--white);
  background-color: rgb(30, 30, 30);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(45deg, var(--bright-yellow), var(--blue-gray));
  text-align: center;
  font-size: 1.4rem;
  padding: .25rem;
}

footer .cep a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: .25s;
}

footer .cep img {
  width: 5rem;
  padding: .5rem;
}

footer .cep a:hover {
  scale: 1.04;
}